body{

    text-align: center;
    margin: 0;
    font-size: 200%;
    background: whitesmoke;
    color: #555;


}

#username{
    width: 300px;
}

input[type="text"]{
    font-size: 40px;
}

.send{
    margin: 20px;
}